<div>
	<div class="row fila_factura" >
		<div class="col-lg-3" class="detalle_fact">
			<input id="unidad{{numero}}" name="unidad{{numero}}" type="text" class="form-control unidad" placeholder="unidad" ng-model="detalle.unidad">
		</div>
		<div class="col-lg-3" class="detalle_fact">
			<input id="precio{{numero}}" name="precio{{numero}}" type="text" class="form-control precio" placeholder="Precio" dat="{{numero}}" ng-change="calcular_subtotal({{numero}})" ng-model="detalle.precios">
		</div>
		<div class="col-lg-3" class="detalle_fact">
			<input id="cantidad{{numero}}" name="cantidad{{numero}}" type="text" class="form-control cantidad" placeholder="cantidad" dat="{{numero}}" ng-change="calcular_subtotal({{numero}})" ng-model="detalle.cantidad" >
		</div>
		<div class="col-lg-3" class="detalle_fact">
			<input id="total{{numero}}" name="total{{numero}}" type="text" class="form-control total" placeholder="Sub-total" ng-model="detalle.subtotal">
		</div>
	</div> 
	
</div>