
<div class="page-container row-fluid container-fluid">
     <!-- START CONTENT -->
    <section id="main-content" class=" ">
    	<section class="wrapper main-wrapper row" style=''>
            <div id="cuerpo_principal_doctor">
            <!--CUERPO PRINCIPAL DR -->
				<div class='col-xs-12'>
				    <div class="page-title" style="display:none">
				        <div class="pull-left">
				            <!-- PAGE HEADING TAG - START -->
				            <h1 class="title" id="titulo_project">
								{{titulo_pagina}}
							</h1>
				            <!-- PAGE HEADING TAG - END--> 
				        </div>                     
				    </div>
				</div>
				<div class="clearfix"></div>
				<div class="col-xs-12 animated fadeIn">
				    <section class="box ">
				        <header class="panel_header">
				        	<div>
					        	<div class="contenedor_icono">
						        	<div class="circulo_fuente">
						        		<i class="fa fa-file-text" aria-hidden="true"></i>
						        	</div>
						        </div>	
					            <h2 class="title pull-left"> Factura </h2>
					        </div>    
				        </header>
				        <hr>
				        <div class="content-body">
							<!-- Cuerpo del formulario -->
							<div ng-class="{visible:tabla==0,invisible:tabla=='1'}">
								<form id="form_registro_noticias" name="form_registro_noticias" enctype="multipart/form-data">
								    <div class="row">
										<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
						                	 <div class="form-group">
						                	 	<div class='asterisco_rojo'><i class='fa fa-asterisk' aria-hidden='true'></i></div>	
								                <label class="form-label" >Fecha:</label>
								                
								                <div class="controls">
								                    <input id="fecha" name="fecha" type="text" class="form-control datepicker" data-start-date="-2d" data-end-date="+1w" placeholder="día/mes/año" ng-model="factura.fecha">
								                </div>
								            </div>
						                </div>
						                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
						                	 <div class="form-group">
						                	 	<div class='asterisco_rojo'><i class='fa fa-asterisk' aria-hidden='true'></i></div>	
								                <label class="form-label" >Folio:</label>
								                <div class="controls">
								                    <input id="folio" name="folio" type="text" class="form-control" placeholder="Folio" ng-model="factura.folio">
								                </div>
								            </div>
						                </div>
						                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
						                	 <div class="form-group">
						                	 	<div class='asterisco_rojo'><i class='fa fa-asterisk' aria-hidden='true'></i></div>	
								                <label class="form-label" >Nombre de comprador:</label>
								                <div class="controls">
								                    <input id="nombre_comprador" name="nombre_comprador" type="text" class="form-control" placeholder="Nombre de comprador" ng-model="factura.nombre_comprador">
								                </div>
								            </div>
						                </div>
									</div> 
									<hr>
									<div class="row">
										<div class="col-lg-3" class="encabezado">Unidad</div>
										<div class="col-lg-3" class="encabezado">Precio</div>
										<div class="col-lg-3" class="encabezado">Cantidad</div>
										<div class="col-lg-3" class="encabezado">Total</div>
									</div> 
									<div id="cuerpo_detalle_factura">
										
									</div> 
									<div class="row fila_factura" >
										<div class="col-lg-3" class=""></div>
										<div class="col-lg-3" class=""></div>
										<div class="col-lg-3" class=""></div>
										<div class="col-lg-3" class="encabezado">
											<input id="total_g" name="total_g" type="text" class="form-control total" placeholder="Total" ng-model="factura.total" readonly>
										</div>
									</div>
								</form> 
							    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
									<input type="hidden" size="5" id="id" name="id" ng-model="factrura.id">
									<div class="col-lg-6 col-md-4 col-xs-12 col-sm-12" id="mensaje_noticia" name="mensaje_noticia"></div>
									<div id="botonera-bloque" name="botonera-bloque" style="margin-top:10px;">
										<div class="col-lg-6 col-md-8 col-xs-12 col-sm-12" style="float:right;padding:0px;">
											<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
												<div class="btn btn-aqua" style="float:right;width:100%" class="limpiar" ng-click="volver()"><i class="fa fa-file-o" aria-hidden="true"></i> Limpiar</div>
											</div>
											
											<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;" >
												<div class="btn btn-aqua" style="float:right;width:100%" class="consultar" ng-click="consultar_factura()"><i class="fa fa-search" aria-hidden="true"></i> Consultar</div>
											</div>
											<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
												<div class="btn btn-aqua" style="float:right;width:100%" class="registrar" ng-click="registrar_factura()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Registrar</div>
											</div>
											<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;" >
												<div class="btn btn-aqua" style="float:right;width:100%" class="agregar" ng-click="quitar_producto()"><i class="fa fa-minus" aria-hidden="true"></i> Menos productos</div>
											</div>
											<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;" >
												<div class="btn btn-aqua" style="float:right;width:100%" class="agregar" ng-click="agregar_producto()"><i class="fa fa-plus" aria-hidden="true"></i> Mas productos </div>
											</div>
										</div>
										<div  style="clear:both"></div>
									</div>
								</div>
								<div style="clear:both"></div>
						    </div>
						    <!-- -->
						    <div ng-class="{visible:tabla==1,invisible:tabla=='0'}">
						    	<div class="log-lg-12">
						    		<div id="btn-volver" class="btn btn-primary" ng-click="volver()">Volver</div>
						    	</div>
						    	<form id="form_consulta_negocio" name="form_consulta_negocio" target="_blank">
								    <div class="row">
								    	<div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;">
								    		<table id="datatable2" class="table table-striped" border="0">
								    			<thead>
								    				<th>#</th>
								    				<!--<th style="width:200px;">imagen</th>-->
								    				<th>Fecha</th>
								    				<th>Folio</th>
								    				<th>Nombre Comprador</th>
								    				<th style="width:300px;">Total</th>
								    				<th>Operaciones</th>
								    			</thead>
								    			<tbody>
								    				<tr ng-repeat = "factura in factura_registro track by $index">
								    					<td>{{factura.id}}</td>
								    		
								    					<td class="centrado">{{factura.fecha}}</td>
								    					<td class="centrado">{{factura.folio}}</td>
								    					<td class="centrado">{{factura.nombre_comprador}}</td>
								    					<td class="centrado">{{factura.total}}</td>
								    					<td class="centrado">
									    					<div class="form-group">
									    						<div id="btn_ver{{$index}}" ng-click="ver_factura($event)" class="btn btn-success flotar_izquierda" title="modificar" style="float:left" data="{{factura.id}}">
									    							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
									    						</div>
									    						<div ng-click="ver_folleto()" class="btn btn-success flotar_izquierda" title="Ver folleto" style="float:left" ng-class="{hide:negocio.folleto==='',block:negocio.folleto!=''}">
										    						<i class="fa fa-cloud-download" aria-hidden="true"></i>
										    					</div>
									    						
									    						<div id="btn_eliminar{{$index}}" name="btn_eliminar{{$index}}"  class="btn btn-danger flotar_izquierda"  title="Inactivar" ng-click="eliminar_registro($event)" data="{{factura.id}}">
								    								<i class="fa fa-lock" aria-hidden="true"></i>
								    							</div>
									    					</div>	
								    					</td>
								    				</tr>
								    			</tbody>
								    		</table>
								    	</div>
									<!-- --> 
								    </div>
								</form> 
						    </div>
					    </div>
				    </section>
					
				</div>
			<!-- FIN CUERPO PRINCIPAL  -->	
			</div>
		</section>		
	</section>
	<!-- END CONTENT -->
	<!--Bloque modal del sistema -->
	<div class="modal fade" id="modal_mensaje" name="modal_mensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	    <div class="modal-dialog modal-lg .modal-sm">
	      <div class="modal-content">
	        <div class="modal-header header_conf">
	            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            <p id="cabecera_mensaje" name="cabecera_mensaje"></p>
	        </div>
	        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
	        <!--Modal body -->
	        <!-- modal body-->
	        </div>  
	        <div class="modal-footer footer_conf">
	            <!-- Footter del modal -->
	              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
	              <button type="button" name="modal_reporte_aceptar" id="modal_reporte_aceptar" class="btn btn-primary" data-dismiss="modal" ng-click="procesar_operacion()">Aceptar</button>
	            <!-- Fin footter del modal -->
	        </div>
	      </div>
	    </div>
	</div>
	<!-- --> 
</div>