<!-- START CONTAINER -->
<div class="page-container row-fluid container-fluid">
    <!-- SIDEBAR - START -->
    <!--  SIDEBAR - END -->
    <!-- START CONTENT -->
    <section id="" class=" ">
        <section class="wrapper main-wrapper row" style=''>
            <!--Cuerpo principal -->
            <div id="cuerpo_principal" class="animated fadeIn ">
              <div class="clearfix" style="margin-top:100px;"></div>
                <div class="col-xs-12">
                    <div class="contenedor_ppal">
                    <section class="box caja" >
                        <header class="panel_header panel" style="text-align:center">
                            <div class="bloque_is">
                                Iniciar sesión
                            </div>    
                        </header>
                        <div class="content-body">
                        <!-- Cuerpo del formulario -->
                            <form id="form_inicio" name="form_inicio" method="POST">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div>
                                                <input type="text" id="login_p" class="form-control" placeholder="&#61447  Ingrese su usuario" ng-model="login" onpaste="return false" onKeyPress="return valida(event,this,0,100)" onBlur="valida2(this,0,100)">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <input type="password" id="clave" class="form-control" placeholder="&#61572  Ingrese su clave" ng-model="clave" onpaste="return false" onKeyPress="return valida(event,this,20,20)" onBlur="valida2(this,20,20)">
                                            </div>
                                        </div>
                                    </div>      
                                </div>
                            </form>    
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
                                <div id="mensaje_is" name="mensaje_is"></div>
                                <hr>
                                <div class="col-xs-12" style="padding:0px;">
                                    <div class="btn btn-primary" style="width:100%" ng-click="inciar_sesion()">Iniciar</div>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                    </section>
                    </div>
                </div>  
            </div>
            <!-- -->
            <!-- MAIN CONTENT AREA ENDS -->
            <!-- -->

            <!-- -->
        </section>
    </section>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->